.main-content {
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
}

.description {
    color: #fff;
    margin-bottom: 40px;
}

.start-blogging-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.start-blogging-btn:hover {
    background-color: #0056b3;
}