header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.logo:hover {
    color: gray;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav a {
    margin:0 10px;
    color: #fff;
    text-decoration: none;
}

/* .dropdown { 
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #ab7d7d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #333;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #555;
}*/

.main-content {
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.title {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
}

.description {
    color: #fff;
    margin-bottom: 40px;
}

.start-blogging-btn {
    padding: 10px 20px;
    background-color: #afbcca;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.start-blogging-btn:hover {
    background-color: #0056b3;
}

.app-container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

.card-header {
    color: black;
}

.btn {
    text-align: center;
}

.btn:hover {
    color: grey;
}